* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #74b9ff;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h4 {
    border-bottom: 1px solid #b2bec3;
}
/* Money Counter  */
#money-counter-container {
    background-color:#0984e3;
    width: 300px;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    color: #fff;

    display: flex;
    flex-flow: column;
    align-items: center; 
}

#money-counter-container p {
    font-weight: 600;
}

#money-block {
    margin-top: 10px;
    color: #1abc9c;
    font-size: 25px;
    font-weight: 600;
}

/* Main */
main {
    margin-top: 10px;                                   
    width: 95%;
    display: flex;
    justify-content: space-between;
}

/* Passive money */
#passive-money-container,
#click-buffs-container {
    width: 30%;
    border: 10px solid #0984e3;
    background-color: #dfe6e9;
    border-radius: 20px;
    height: 400px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

}

.passive-buff,
.click-buff {
    display: flex;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius:5px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.passive-buff button,
.click-buff button  {
    border: none;
    background: none;
    outline: none;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #2ecc71;
}

/* Cookie */
#cookie-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cookie-container img {
    width: 300px;
    height: 300px;
    border-radius: 150px;

}

/* Click buffs */
#click-buffs-container {
    width: 30%;
    border: 10px solid #0984e3;
    background-color: #dfe6e9;
    border-radius: 20px;
    height: 400px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
}

/* Stats */
#stats {
    position: absolute;
    left: 45px;
    top: 20px;
    color: #fff;
}

#stats p {
    font-weight: 600;
}

/* Effect */
.effect {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: effect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes effect {
    0% {
        top: 50%;
        opacity: 1;
    } 100% {
        top: 30%;
        opacity: 0;
    }
}